<!-- results of recipes user searched for -->
<!-- button to go back to index page to add more recipes -->

<%- include('../partials/_head') %>

<body>
    <%- include('../partials/_background') %>
    <%- include('../partials/_title') %>
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
    <p style="padding: 10px; font-size: large; color: white;"><%= resultHeading %></p>
    <p style="font-size: large; color: white;"><% recipes.forEach((recipe) => { %>
        <li style="padding: 10px; font-size: large; color: white;">
            <a style="font-size: large; color: white;" href=<%= recipe.recipe_url %>><%= recipe.recipe_name %></a>
        </li>
    <% }) %></p>
</body>