<!-- results of recipes user searched for -->
<!-- button to go back to index page to add more recipes -->

<%- include('../partials/_head') %>

<body>
    <%- include('../partials/_title') %>
    <%- include('../partials/_form') %>
    <script src="app.js"></script>
    <p><%= resultHeading %></p>
    <p><% recipes.forEach((recipe) => { %>
        <li>
            <a href=<%= recipe.recipe_url %>><%= recipe.recipe_name %></a>
        </li>
    <% }) %></p>
</body>